{% extends 'base.html' %}
{% load i18n %}


{% block layout %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="row">
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-light{% endif %}" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% for owner in parking_owners %}
    <div class="row">
        <div class="col-md-6">
            <span class="badge badge-dark">
                {{ owner.first_name }}, {{ owner.email }}
            </span>
        </div>
        <div class="col-md-6">
            <a href="{% url 'owner' owner_id=owner.id %}">Book parking place</a>
        </div>

    </div>
    {% endfor %}

{% endblock layout %}
