{% extends 'base.html' %}



{% block layout %}
<h2>Thanks for booking the time slot</h2>
<div class="row">
    Reservation details:
</div>
<div class="row">
    Parking at - {{ time_slot.slot_date.parking_lot.lot_owner.first_name }} ({{ time_slot.slot_date.parking_lot.lot_owner.email }}),
    start time - {{ time_slot.start_time|date:"H:i" }}, end time - {{ time_slot.end_time|date:"H:i" }}
</div>
<div class="row">
    Your contact info: {{ time_slot.slot_user.email }},
    {{ time_slot.slot_user.phone_number }}, {{ time_slot.slot_user.name }}
</div>
{% endblock layout %}
