{% extends 'base.html' %}


{% block layout %}
    <h2 class="text-center">{{ date }}</h2>
<h4 class="text-center"><span class="badge badge-dark">{{ owner.first_name }} ({{ owner.email }})</span></h4>
    <h4 class="text-center"><span class="badge badge-success">Free</span> parking time slots</h4>

    {% if time_slots %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot.start_time|date:"H:i" }}</td>
                <td>{{ slot.end_time|date:"H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Sorry, but there are no free parking time slots today.</p>
    {% endif %}

    {% if time_slots %}
    <h4 class="text-center">Book a parking time slot</h4>
    <form action="." method="post" class="">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error|escape }}
        </div>
        {% endfor %}
        {% for field in form %}
            <div class="fieldWrapper form-group {% if field.is_hidden %}d-none{% endif %}">
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% endif %}
{% endblock layout %}
