{% extends 'base.html' %}


{% block layout %}
    <h2 class="text-center">{{ date }}</h2>
    <h4 class="text-center"><span class="badge badge-dark">{{ user.first_name }} ({{ user.email }})</span></h4>
    <h4 class="text-center">Parking time slots</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Parking name</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in time_slots %}
            <tr>
                <td>{{ slot.slot_date.parking_lot.name }}</td>
                <td>{{ slot.start_time|date:"H:i" }}</td>
                <td>{{ slot.end_time|date:"H:i" }}</td>
                <td>
                    {% if slot.slot_user %}
                        {{ slot.slot_user.name }}, {{ slot.slot_user.email }}, {{ slot.slot_user.phone_number }}
                    {% else %}
                        Free
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock layout %}
