<!DOCTYPE html>
<html class="no-js" data-component='["viewport"]'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Parking slots</title>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body class="preload">
        <div class="container" data-content>
            {% url 'index' as home_url %}
            {% url 'dashboard' as dashboard_url %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">2gethr</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.path != dashboard_url %}active{% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">Parking list</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item {% if request.path == dashboard_url %}active{% endif %}">
                            <a class="nav-link" href="{{ dashboard_url }}">Dashboard</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="wrapper">
                {% block layout %}
                {% endblock layout %}
            </div>
        </div>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
